@{
    ViewData["Title"] = "Pagar";
}

<h1>Pago Exitoso</h1>

<div class="alert alert-success">
    ¡El pago se ha realizado exitosamente!
</div>

<a asp-action="Index" class="btn btn-primary">Volver al Inicio</a>
